
matrix:
  include:
    # OpenAPI documentation generation.
    - os: linux
      dist: bionic
      language: python
      python: 3.6
      node_js: 12
      env:
        - OPENAPI_JSON_FILE_NAME=test_openapi_description.json
        - OPENAPI_DOCUMENTATION_FILE_NAME=grr_api_documentation.html
      install:
        - pip install -e grr/proto/
        - pip install -e grr/core/
        - pip install -e grr/client/
        - pip install -e grr/client_builder/
        - pip install -e api_client/python/
        - pip install mysqlclient
        - pip install -e grr/server/
      script:
        - pwd
        - ls -ltr
        - ls -ltr travis
        - python "travis/get_openapi_description.py"
        - npx redoc-cli@0.9.12 bundle "${HOME}/${OPENAPI_JSON_FILE_NAME}"
        - mv "redoc-static.html" "${HOME}/${OPENAPI_DOCUMENTATION_FILE_NAME}"
        - ls -ltr "${HOME}/${OPENAPI_DOCUMENTATION_FILE_NAME}"
        - ls -ltr
        - ls -ltr travis


